<style>
body{
     background: linear-gradient(to right, #000428, #004e92)
 }
</style>

<div class="container">
    <h2>Edit Book</h2>
    <form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
        <a href="/books">Cancel</a>
        <button type="submit">Update</button>
    </form>
</div>
