<style>
body{
     background: linear-gradient(to right, #000428, #004e92)
 }
</style>

<div class="container">
    <h2>New Book</h2>
    <form action="/books" method="POST" >
        <%- include('_form_fields') %>
        <a href="/books" type="button" class="btn btn-outline-danger">Cancel</a>
        <button type="submit"  class="btn btn-outline-primary">Create</button>
    </form>
</div>
