<style>
body{
     background: linear-gradient(to right, #00d2ff, #928dab)
 }
</style>
<h2>New Authors</h2>

<form action="/authors" method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/authors">Cancel</a>
    <button type="submit">Create</button>
</form>